# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Data (keep sample logs only if needed)
data/*.csv
data/*.log

# Docker
*.tar
